---
//get general site data
import {frontmatter as data} from 'src/siteInfo.md'

let siteInfo = {
  name: data.siteName || ( data.companyName || data.personName),
  desc: data.siteDesc || ( data.companyDesc || data.personDesc),
  siteTwitterUsername: data.social.twitter ? '@'+data.social.twitter : null
}

// get the props
let props = Astro.props.props || Astro.props

// console.log(props)
let { title, description, permalink, img, imgAlt, ldjson, lang, twitterUsername, noindex } = props;

title = title || siteInfo.name
description = description || siteInfo.desc
lang = lang || (data.lang || "pt-BR")
const site = Astro.site
let url = permalink || new URL(Astro.url.pathname, site)
img = img?.src || Astro.site+'social.webp'
imgAlt = imgAlt || title

// veja mais em https://github.com/JayHoltslander/Structured-Data-JSON-LD
let ldjsonHome = JSON.stringify({
    "@context": "http://schema.org",
    "@graph":[
        {
        "@type": ["Organization", "OnlineBusiness"],
        "@id": site+"#jsonldOrganization",
        "name": siteInfo.name,
        "description": siteInfo.desc,
        "url": site,
        // "image": site+imgStatic,
        // "logo": site+imgStatic,
        "sameAs": [
            // "https://twitter.com/"+social?.twitter,
            (data?.social?.instagram && "https://instagram.com/"+data?.social?.instagram),
            (data?.social?.facebook && "https://www.facebook.com/"+data?.social?.facebook),
            // "https://linkedin.com/in/"+social?.linkedin,
            // "https://github.com/"+social?.github
        ],
        "address": {
            "@type": "PostalAddress",
            "addressLocality": data?.address?.city,
            "addressRegion": data?.address?.region,
            "addressCountry": data?.address?.country
        },
        // "priceRange": "$$",
        // "contactPoint": [
        //     { 
        //         "@type": "ContactPoint",
        //         "contactType": "Customer Service",
        //         "email": "oi@acopa.com.br",
        //         "availableLanguage": [
        //             "Portuguese",
        //             "English"
        //         ]
        //     }
	    // ],
        // "makesOffer":[
        // 	   {
        //         "@type":"Offer",
        //         "itemOffered":
        //             {
        //                 "@type":"Service",
        //                 "name":"Service name",
        //                 "url":"http://example.com/a-leaf-page/for/service"
        //             }
        //     },
        //     {
        // 		    "@type":"Offer",
        // 		    "itemOffered":
        //             {
        //                 "@type":"Service",
        //                 "name":"Another Service name",
        //                 "url":"http://example.com/a-leaf-page/for/service2"
        //             }
		// 	    }
	    // ],
        // "potentialAction": {
        //     "@type": "OrderAction",
        //     "target":
        //     {
        //         "@type": "EntryPoint",
        //         "name":"Book Now",
        //         "urlTemplate": "https://example.com/contact#contact-form",
        //         "inLanguage": "en-CA",
        //         "actionPlatform":
        //         [
        //             "http://schema.org/DesktopWebPlatform",
        //             "http://schema.org/IOSPlatform",
        //             "http://schema.org/AndroidPlatform"
        //         ]
        //     },
        //     "result":
        //     {
        //         "@type": "Reservation",
        //         "name": "Book Your Free Legal Consultation"
        //     }
        // },
        // "review": [
        //     {
        //         "@type": "Review",
        //         "author": {
        //             "@type": "Person",
        //             "name": "Cris B."
        //         },
        //         "datePublished": "2020-08-11",
        //         "reviewBody": "Texto do Review",
        //         "name": "O atendimento personalizado faz toda a diferença!",
        //         "reviewRating": {
        //             "@type": "Rating",
        //             "bestRating": "5",
        //             "ratingValue": "5",
        //             "worstRating": "1"
        //         }
        //     }
        // ],
        // "foundingDate": "2021",
    },
    {
        "@type":"WebSite",
        "@id":site+"#jsonldWebsite",
        "url":site,
        "name": siteInfo.name,
        "description":siteInfo.desc,
        "inLanguage":lang,
        "publisher": {
          "@type": "Organization",
          "@id":site+"#jsonldOrganization",
          "name": siteInfo.name,
        },
    },
    {
        "@type":"WebPage",
        "@id":url+"#jsonldWebpage",
        "url":url,
        "name":title,
        "description":description,
        "isPartOf":{
          "@id":site+"#jsonldWebsite",
    		  "@type":"WebSite",
        },
        "inLanguage":lang,
        "potentialAction":[
            {
                "@type":"ReadAction",
                "target":[url]
            }
        ]
    }
  ]
})


// veja mais em https://github.com/JayHoltslander/Structured-Data-JSON-LD
ldjson = ldjson || JSON.stringify({
"@context": "http://schema.org",
"@graph":[
    {
        "@type":"WebPage",
        "@id":url+"#jsonldWebpage",
        "url":url,
        "name":title,
        "description":description,
        "isPartOf":{
          "@id":site+"#jsonldWebsite",
		  "@type":"WebSite",
        },
        "inLanguage":lang,
        "potentialAction":[
            {
                "@type":"ReadAction",
                "target":[url]
            }
        ]
    }
  ]
})
ldjson = Astro.url.pathname == "/" ? ldjsonHome : ldjson

import Tracking from '@components/tracking/tr.astro'

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={url} />
{noindex && <meta name="robots" content="noindex"/>}

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={img} />
<meta property="og:image:alt" content={title} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={img} />
<meta property="twitter:image:alt" content={title} />
{siteInfo.siteTwitterUsername && <meta name="twitter:site" content={siteInfo.siteTwitterUsername}/>}
{twitterUsername && <meta name="twitter:creator" content={twitterUsername}/>}

<!-- Schema Markup -->
<script type="application/ld+json" set:html={ldjson} />

<!-- Fonts -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> -->

{!props.dontTrack && <Tracking/> }