---
import Subsection from '@components/subsection.astro'
import ProxyElement from '@components/proxyElement.astro'

import Banner from "@components/banner/countdown.astro"

import Depoimento from "@components/cards/depoimento.astro"

import garantia from "@assets/garantia.webp"
import garantia15 from "@assets/garantia15dias.webp"

import Cta from "@components/cta.astro"
import Nao from "@components/btnGhost.astro" //up


let { p, cta, link, primary } = Astro.props

let h2size = p.titleSize ? `text-${p.titleSize==1 ? '' :p.titleSize}xl md:text-${p.titleSize+1}xl`: "text-2xl md:text-3xl"

---

<div data-theme={p.tema}>

{p.type=="section" && 
    <section class:list={["mx-auto px-4 py-10 md:py-16", (p.divider?.show && "border-b"), (p.divider?.color=="primary" && "border-b-primary"), (p.style?.align || "text-center" )]}>

        <div class="max-w-screen-xl mx-auto [&_img]:rounded-[--rounded-box] [&_img]:shadow-lg hover:[&_img]:scale-105 [&_img]:duration-500 [&_img]:my-8 [&_img]:inline-block [&_ol]:mb-4 [&_ol]:list-decimal [&_ol]:list-inside [&_li::marker]:font-bold ">
            <Subsection title={p.title} titleSize={p.titleSize} body={p.body}  />
        </div>

        {p.cols && <div class:list={["flex gap-8 gap-y-12 flex-wrap justify-center text-left py-4 md:py-8",(p.style?.alignCardContent || "text-left")]}>
            {p.cols?.map( s => <ProxyElement p={s} alignContent={p.style?.alignCardContent}/> )}
        </div>}

        {p.cta?.text && <Cta {primary} style={p.cta.style} link={p.cta.link} pos={p.cta.auxText} set:html={p.cta.text}/>}

    </section>
}

<!-- Text And Image Panel -->

{p.type=="sectionTxtImg" && 
    <section class="grid place-content-center items-center md:grid-cols-2 gap-4 md:gap-8 max-w-7xl py-12 px-4 mx-auto">
        {p.img && <div class:list={["grid place-content-center py-8", p.img?.last && "order-last", p.img?.desktopLast ? "md:order-last" : "md:order-first" ]}>
            <img src={p.img.src} alt={p.img.alt || p.title} class="w-full rounded-[--rounded-box] hover:scale-105 duration-500"/>
        </div>}
        <div class="[&_ol]:mb-4 [&_ol]:list-decimal [&_ol]:list-inside [&_li::marker]:font-bold">
            <Subsection title={p.title} titleSize={p.titleSize} body={p.body} {cta} />
        </div>
    </section>
}

<!-- To remove -->

{p.type=="cta" && <div class="px-4"><Cta {primary} link={p.link || link} pos={p.auxCta} set:html={p.cta || cta}/></div>}

{p.type=="testimonials" &&
    <div class="flex gap-12 flex-wrap justify-center text-left">
        {p.list.map( item => 
            <Depoimento img={item.img} nome={item.author.name} subtitle={item.author.title}>{item.quote}</Depoimento> 
            )
        }
    </div>
}

</div>