---
import Layout from "@layouts/partials/layoutBase.astro"
import Footer from "@layouts/partials/footer.astro"

import { Markdown } from 'astro-remote'

import Banner from "@components/banner/countdown.astro"
import ProxyElement from "@components/proxy.astro"

import Depoimento from "@components/cards/depoimento.astro"
import Card from "@components/cards/main.astro"
import CardN from "@components/cards/numberH3.astro"
import Offer from "@components/cards/offer.astro"

import garantia from "@assets/garantia.webp"
import garantia15 from "@assets/garantia15dias.webp"

import Cta from "@components/cta.astro"

import Form from "@components/forms/lead2.astro"

//General Site Information
import {frontmatter as siteInfo} from 'src/siteInfo.md'
let { tema } = siteInfo

let f = Astro.props.frontmatter
f.tema = f.tema || tema

let {showLogo, showTitle, showDesc} = f

// img 540x540
// sec max 1080
---
<Layout props={f}>
<main class="text-xl [&_section]:px-4 min-h-screen">

    {f.countdown.show &&
        <Banner title={f.countdown.title} text={f.countdown.text} time={f.countdown.time}/>
    }

    <section class="grid place-content-center py-12">
        <div class="grid place-content-center items-center md:grid-cols-2 gap-4 md:gap-8 max-w-screen-xl">
            <div class="prose prose-neutral dark:prose-invert">
                <h1 set:html={f.headline} class="text-primary font-bold"/>
                <Markdown content={f.subheadline}/>
                {f.form?.show ? <Form cta={f.cta.txt} link={f.cta.link} form={f.form} /> : <Cta wfull primary link={f.cta.link} set:html={f.cta.txt}/>}
            </div>
            <div class="grid place-content-center">
                <img src={f.img.src} alt={f.img.alt || f.headline} />
            </div>
        </div>
    </section>

    <div>
        {f.subs && 
            <section id="sec" class="text-center py-12 leading-relaxed [&_p]:mb-6 dark:[&_h2]:text-primary [&_h2]:text-2xl [&_h2]:md:text-3xl [&_h2]:font-black [&_h2]:my-4">
                {f.subs?.map( s => <ProxyElement p={s} cta={f.cta.txt} link="#" primary/>)}
            </section>}
    </div>

</main>
<Footer dark/>
</Layout>