---
import Layout from "@layouts/partials/layoutBase.astro"
import Footer from "@layouts/partials/footer.astro"

import Depoimento from "@components/cards/depoimento.astro"
import Card from "@components/cards/numberH3.astro"
import garantia from "@assets/garantia.webp"
import garantia15 from "@assets/garantia15dias.webp"
import Check from "@assets/icons/roundCheckmark.astro"

import Cta from "@components/cta.astro"
import Nao from "@components/btnGhost.astro" //up

let f = Astro.props.frontmatter
f.tema = f.tema || "bumblebee"
---
<Layout props={f}>

    <main class="text-xl [&_section]:px-4">

        <!-- {f.countdown.show &&
            <Banner mainTxt={f.countdown.title} barTxt={f.countdown.text} />
        } -->

        <!-- Promessa, Título e Subpromessa -->
        <section id="promessa-e-subpromessa" class="empty:hidden pt-20 pb-16 text-center [&>*]:md:mx-auto [&>*]:md:mb-12">
            <h1 class="text-5xl font-bold tracking-wide my-8 empty:hidden" set:html={f.headline} />
            {f.subheadline && <p class="md:max-w-screen-md mb-8 empty:hidden" set:html={f.subheadline}/>}
        </section>

        <!-- Ancoragem de Preço -->

        <!-- Prova Social -->
        {f.testimonials.show &&
            <section id="prova-social" class="py-20 lg:pb-32">
                <div class="flex gap-12 flex-wrap justify-center">
                    {f.testimonials.list.map( p => 
                        <Depoimento img={p.img} nome={p.nome}>{p.texto}</Depoimento> 
                        )
                    }
                </div>
        </section>}

        <!-- O que você vai apreneder? -->
        <section id="o-que" class="py-12 leading-relaxed [&>p]:mb-4 md:max-w-screen-md md:mx-auto [&_img]:rounded-sm [&_img]:shadow-lg hover:[&_img]:scale-105 [&_img]:duration-500 [&_img]:my-8 [&_ol]:mb-4 [&_ol]:list-decimal [&_ol]:list-inside [&_li::marker]:font-bold">
            <h2 set:html={f.what.title}>
            <slot/>
        </section>
        
        <!-- Learning Outcomes -->
        {f.outcomes.list &&
            <section id="beneficios" class="py-20 lg:pb-32">
                <h2 class="text-5xl mb-16 text-center font-black" set:html={f.outcomes.title}/>
                <div class="flex gap-12 flex-wrap justify-center">
                    {f.outcomes.list.map( (b,i) => 
                        <Card>
                            <span slot="number"> {i+1} </span>
                            {b.item}
                        </Card> 
                        )
                    }
                </div>
            </section>}
            
        
        <!-- Lista de benefícios -->
        {f.benefits.list &&
        <section id="beneficios" class="py-20 lg:pb-32">
            <h2 class="text-5xl mb-16 text-center font-black" set:html={f.benefits.title}/>
            <div class="flex gap-12 flex-wrap justify-center">
                {f.benefits.list.map( (b,i) => 
                    <Card>
                        <span slot="number"> {i+1} </span>
                        {b.title}
                    </Card> 
                    )
                }
            </div>
        </section>}
                
        
        <!-- Garantia -->
        <!-- <section id="garantia" class="py-16 md:flex md:gap-12 md:items-center md:max-w-screen-lg md:mx-auto">
                {(garantiaDias==15) ? 
                    <img src={garantia15} alt="Garantia de 15 dias" class="md:mb-0 mb-8 mx-auto" width="240" height="240"/>:
                    <img src={garantia} alt={`Garantia de ${garantiaDias} dias`} class="md:mb-0 mb-8 mx-auto" width="240" height="240"/>
                }
                <div>
                <h2 class="md:mb-8 md:text-4xl text-3xl font-bold tracking-wide mb-12 text-black" set:html={garantiaTitle}/>
                <slot name="garantiaTexto"/>
            </div>
        </section> -->

        <!-- Oferta -->
        <!-- <section id="oferta" class="py-12 lg:pb-32">
        
            <h2 class="text-4xl font-bold tracking-wide mb-20 text-center md:mb-20" set:html={ofertaChamada}/>
            <div class="px-2 py-8 md:max-w-screen-md md:mx-auto">
                {props.precoDe &&
                <p class="text-2xl text-center font-semibold mb-4 dark:text-white">de <span class="line-through text-red-600">R$ {props.precoDe}</span> por apenas</p>
                }
                {props.parcelas ?
                (<p class="text-3xl text-center font-bold mt-10 dark:text-white">{props.parcelas.vezes} x</p>
                <p class="text-8xl text-center uppercase font-black mb-4 bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-teal-500 dark:from-green-400 dark:to-lime-500">R$ {props.parcelas.valor}</p>
                <div class="text-center text-sm">(ou R$ {props.preco} à vista)</div>) :
                <p class="text-8xl text-center uppercase font-black mb-10 bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-teal-500 dark:from-green-400 dark:to-lime-500">R$ {props.preco}</p>
                }
                {props.beneficiosOferta &&
                <div>
                    <div class="divider mb-8"></div>
                    <ul class="md:mb-12 mb-8 [&_li]:flex [&_li]:items-center [&_li]:mb-4">
                        {props.beneficiosOferta && props.beneficiosOferta.map( item => <li><Check/>{item}</li>)}
                    </ul>
                </div>}
        
                <Cta link={props.ctaLink} pos={props.posCta} set:html={cta}/>
                {props.linkNao && <Nao link={props.linkNao} set:html={props.btnNao}/>}
                <div class="text-center text-sm mt-8">
                    <slot name="textoAposCta"/>
                </div>
        </div>
        </section> -->

    </main>
    <Footer dark/>
</Layout>