---
import Layout from "@layouts/partials/layoutBase.astro"
import Footer from "@layouts/partials/footer.astro"

import { Markdown } from 'astro-remote'

import Banner from "@components/banner/countdown.astro"
import ProxySection from "@components/proxy.astro"

import garantia from "@assets/garantia.webp"
import garantia15 from "@assets/garantia15dias.webp"

import Form from "@components/forms/lead2.astro"
import Cta from "@components/cta.astro"

//General Site Information
import {frontmatter as siteInfo} from 'src/siteInfo.md'
let { tema } = siteInfo

let f = Astro.props.frontmatter
f.tema = f.tema || tema

let {showLogo, showTitle, showDesc} = f

let h1size = f.headline?.style?.size ? `text-${f.h1size==1 ? '' :f.headline?.style?.size}xl md:text-${f.headline?.style?.size+1}xl`: "text-4xl"

import { imageConfig } from "astro:assets"
// img 540x540
// sec max 1080
---
<Layout props={f}>
<main class="text-xl min-h-screen">

    {f.countdown.show &&
        <Banner title={f.countdown.title} text={f.countdown.text} time={f.countdown.time}/>
    }

    <section class="grid place-content-center py-12 px-4">
        <div class:list={["grid place-content-center items-center gap-4 md:gap-8 max-w-screen-xl",(f.img?.src ? 'md:grid-cols-2': 'text-center')]}>
            <div class:list={["pt-8", (f.img?.src ? 'prose prose-neutral dark:prose-invert mx-auto': 'text-center') ]}>
                <h1 set:html={f.headline.text} class:list={["text-primary mb-8", h1size, (f.headline?.style?.weight || "font-bold")]}/>
                <div class="prose prose-neutral dark:prose-invert mx-auto">
                    <slot/>
                    {f.form?.show ? (f.form?.embed?.code ? <div set:html={f.form?.embed?.code} /> : <Form cta={f.cta.txt} link={f.cta.link} form={f.form}/>) : <Cta wfull primary link={f.cta.link} set:html={f.cta.txt}/>}
                </div>
            </div>
            {f.img?.src && <div class="grid place-content-center">
                <img src={f.img.src} alt={f.img.alt || f.headline.text} class:list={["w-full duration-1000 hover:scale-105", f.img?.animation ]} />
                {f.img?.animation=="animate-floating" && <div class="w-5/12 mx-auto animate-floating-shadow"></div>}
            </div>}
        </div>
    </section>

    {f.subs && 
        <div id="secs" class="leading-relaxed [&_p]:mb-6 [&_h2]:my-4 [&_h2]:font-bold">
            {f.subs?.map( s => <ProxySection p={s} cta={f.cta.txt} link="#" primary/> )}
        </div>}

</main>
<Footer dark/>
{Astro.url.pathname=="/" && 
<script is:inline>
window.addEventListener("load", () => {
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  }
)
</script>}
</Layout>